@import '../../../../vendor/filament/filament/resources/css/theme.css';

/* Finance Panel Theme - Unique ID: finance-002 */
@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

.fi-main-ctn{
    background: var(--color-gray-50);
    border-top-right-radius: .75rem;
    height: calc(100vh - 64px);
    overflow-y: scroll;
    position: fixed;
    right: 0;
    width: calc(100vw - 15rem);
}

.fi-sidebar {
    width: 15rem !important;
    background: var(--color-gray-100);
    border-top-left-radius: .75rem;
}

nav.fi-sidebar-nav{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

nav.fi-sidebar-nav::-webkit-scrollbar {
    display: none;
}

.fi-sidebar-nav{
    padding: calc(var(--spacing) * 4);
}

.fi-sidebar-item .fi-sidebar-item-label{
    color: #4b5563;
    font-weight: 600;
}

.fi-sidebar-item.fi-active .fi-sidebar-item-label{
    color: #1a1a1a;
    font-weight: 700;
}

.fi-sidebar-item-icon{
    width: 1.25rem !important;
    height: 1.25rem !important;
}
