@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

.fi-layout {
    background: #1a1a1a;
}

.fi-main-ctn {
    background: var(--color-gray-50);
    border-top-right-radius: .75rem;
    height: calc(100vh - 64px);
    overflow-y: scroll;
    position: fixed;
    right: 0;
    width: calc(100vw - 15rem);
    z-index: 20;
}

.fi-topbar .fi-user-menu-trigger {
    flex-shrink: 0;
    display: flex;
    gap: .5rem;
    align-items: center;
    color: var(--color-gray-100);
}

.fi-topbar .fi-user-menu-trigger>span {
    font-size: .85rem;
}

@media screen and (max-width: 1023px) {
    .fi-main-ctn {
        width: 100%;
    }

    .fi-sidebar-nav {
        padding-top: 0;
    }

    .fi-logo {
        filter: brightness(0);
        margin: 0;
    }
}

@media screen and (max-width: 760px) {
    .fi-global-search-ctn {
        display: none !important;
    }
}

.fi-sidebar {
    width: 15rem !important;
    background: var(--color-gray-100);
    border-top-left-radius: .75rem;
}

nav.fi-sidebar-nav {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

nav.fi-sidebar-nav::-webkit-scrollbar {
    display: none;
}

.fi-sidebar-nav {
    padding: calc(var(--spacing) * 4);
}

.fi-sidebar-group-items {
    row-gap: calc(var(--spacing) * 1.5);
}

.fi-sidebar-item-label {
    font-size: 0.8rem !important;
    font-weight: 600;
}

.fi-sidebar-item.fi-active>a.fi-sidebar-item-btn>.fi-sidebar-item-label {
    color: #1a1a1a;
    font-weight: 700;
}

.fi-sidebar-item-icon {
    width: 1.25rem !important;
    height: 1.25rem !important;
    color: var(--color-gray-700);
}

.fi-topbar {
    background-color: var(--gray-900);
}

.fi-topbar-end {
    justify-content: end;
    flex: 1;
}

.fi-global-search-ctn {
    align-items: center;
    display: flex;
    margin-inline: auto;
    max-width: 400px;
    width: 100%;
    padding-left: calc(var(--spacing) * 4);
    transform: translateX(-1.5%);
}

.fi-topbar .fi-input-wrp {
    background: linear-gradient(#3e3d3e, #403e40 79.91%, #5e5d5e);
    border-radius: 12px;
    font-weight: 600;
    box-shadow: inset 0 -1px 1px 0.25px #000, inset 0 0 1px 0.75px #ffffff80;
}

.fi-topbar .fi-input-wrp input,
.fi-input-wrp input::placeholder {
    background: transparent;
    color: var(--color-white);
}

.fi-topbar .fi-input-wrp svg {
    color: var(--color-gray-200);
}

.fi-logo {
    color: var(--color-white);
}

.fi-sidebar-item-btn {
    column-gap: calc(var(--spacing) * 2);
    padding-block: calc(var(--spacing)*1.5);
    padding-inline: calc(var(--spacing)*3);
}

.fi-sidebar-item-btn:hover {
    background: var(--color-gray-50);
}

.fi-sidebar-item.fi-active>.fi-sidebar-item-btn {
    background: var(--color-white);
    transition: all .2s ease;
}

/* Sidebar nested item */
.fi-sidebar-item-grouped-border {
    opacity: 0;
}

.fi-sidebar-item>ul .fi-sidebar-item-btn,
.fi-sidebar-item>ul .fi-sidebar-item-btn:hover {
    padding-block: 2.5px;
    padding-inline: 7.5px;
}

/* Sidebar badges */
.fi-sidebar-item-badge-ctn>span {
    color: #1a1a1a;
    border: none !important;
    display: flex;
    align-items: center;
    padding: 3px;
    box-shadow: none;
    background: var(--gray-200);
}

.fi-sidebar-item-badge-ctn>span .fi-badge-label {
    font-size: .65rem;
}

/* TopBar customization */
.fi-modal-trigger:has(.fi-topbar-database-notifications-btn svg) {
    display: flex;
    padding: 6px;
    border-radius: 8px;
    transition: .2s ease;
    background: #3e3d3e;
    box-shadow: inset 0 -1px 1px .25px #000, inset 0 0 1px .75px #ffffff80;
    transition: .2s ease;
}


.fi-modal-trigger:has(.fi-topbar-database-notifications-btn svg):hover,
.fi-user-menu-trigger:hover {
    background-color: #2e2e2e;
}

.fi-topbar-database-notifications-btn svg,
.fi-topbar-database-notifications-btn svg:hover {
    color: white;
    width: 20px;
}

.fi-user-menu-trigger>img {
    border-radius: 5px;
    width: 28px;
    height: 28px;
}

.fi-user-menu-trigger {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px;
    background: #3e3d3e;
    box-shadow: inset 0 -1px 1px .25px #000, inset 0 0 1px .75px #ffffff80;
    border-radius: 8px;
    padding-right: 8px;
    transition: .2s ease;
}


.fi-user-menu-trigger-name {
    font-family: var(--font-family);
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--color-gray-200);
    white-space: nowrap;
}

/* Buttons */

.fi-ac-btn-action.fi-color-primary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 3.75px;
    font-size: .8rem;
    font-weight: 600;
    text-transform: capitalize;
    background: linear-gradient(180deg, #3E3D3E 0%, #403E40 79.91%, #5E5D5E 100%);
    box-shadow: inset 0px -2px 2px 0.5px #000000, inset 0px 0px 2px 1.5px rgba(255, 255, 255, 0.5);
    border-radius: .5rem;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.fi-ac-btn-action.fi-color-primary>.fi-loading-indicator {
    height: 18px;
    order: 2;
}

/* login screen logo */
.fi-simple-header>.fi-logo {
    filter: brightness(0);
}

h1.fi-simple-header-heading {
    display: none !important;
}

/* Truncate long selected values in all Select inputs to a single line */
.fi-select-input,
.choices__item--selectable,
[data-choices] .choices__item,
.fi-select-input .fi-select-input-value-label,
.fi-input[data-choices-target],
.choices .choices__list--single .choices__item {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}
.fi-select-input .fi-select-input-value-label{
    overflow: hidden;
}

.fi-sc-actions .fi-sc-actions-label-ctn .fi-sc-actions-label {
    line-height: var(--text-sm--line-height);
}


.planvactualcolumn>.fi-input-wrp-suffix.fi-input-wrp-suffix-has-label{
    border: none !important;
    padding-inline-start: 0 !important;
}

/* Partenr form align toggles to bottom */
.fi-grid-col>.fi-sc-component:has(.alignbottomtoggles){
    display: flex;
    align-items: end;
    padding-bottom: 5px;
}
